<html>

<body>

    <h1>Go URL shortener</h1>
    {{.Info}}
    <br>
    <br>
    <form method="POST">
        <div>
            URL : 
            <input pattern="^(https?://)(www[.])?[-a-zA-Z0-9@:%._+~#=]{2,256}[.][a-z]{2,4}([-a-zA-Z0-9@:%_+.~#?&/=]*)$" type="text" name="original"
                placeholder="http://something.com" value={{.Original}}>
        </div>
        <br>
        <div>
            https://gorl.herokuapp.com/
            <input pattern="^[-a-zA-Z0-9@:%_+.~#?&=]+$" type="text" name="short" placeholder="myurl" value={{.Short}}>
        </div>
        <br>
        <input formaction="/" type="submit" value="Create">
    </form>
</body>

</html>